# Created by venv; see https://docs.python.org/3/library/venv.html
bin/
include/
lib/
pyvenv.cfg
*.pyc
__pycache__/
share/
outputs/
logs/
*.env
wandb/
*.pt
*.png
*.pdf
*.csv

# Ignore physionet.org data files
Utils/Dataset/AFDB/physionet.org/
Utils/Dataset/AFDB/Extracted_Segments/

# macOS system files
.DS_Store

